In [20]:
import pandas as pd
import numpy as np

dc_listings = pd.read_csv('main2.csv')

In [21]:
dc_listings.head()

,Unnamed: 0,id,host_is_superhost,latitude,longitude,property_type,room_type,bathrooms_text,beds,amenities,...,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,comments,detect
0,0,44077,t,53.29178,-6.25792,Private room in bungalow,Private room,1.5 shared baths,2.0,113,...,258,4.78,4.83,4.74,4.93,4.93,4.66,4.82,we enjoyed our stay very much the room was co...,en
1,1,44077,t,53.29178,-6.25792,Private room in bungalow,Private room,1.5 shared baths,2.0,113,...,258,4.78,4.83,4.74,4.93,4.93,4.66,4.82,we have been here nights stay in a home is ...,en
2,2,44077,t,53.29178,-6.25792,Private room in bungalow,Private room,1.5 shared baths,2.0,113,...,258,4.78,4.83,4.74,4.93,4.93,4.66,4.82,teresa and hughie were great hosts they were ...,en
3,3,44077,t,53.29178,-6.25792,Private room in bungalow,Private room,1.5 shared baths,2.0,113,...,258,4.78,4.83,4.74,4.93,4.93,4.66,4.82,no surprises was as described very gracious...,en
4,4,44077,t,53.29178,-6.25792,Private room in bungalow,Private room,1.5 shared baths,2.0,113,...,258,4.78,4.83,4.74,4.93,4.93,4.66,4.82,teresa was a lovely hostess and we had a deli...,en

In [25]:
final = dc_listings[dc_listings["detect"] == "en"]

In [27]:
final.detect.unique()

array(['en'], dtype=object)

In [28]:
final.shape

(202359, 22)

In [30]:
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

all = []
for review in final.comments:
    sid = SentimentIntensityAnalyzer()
    scores = sid.polarity_scores(review)
    all.append(scores['compound'])

final['sentiment'] = all

/var/folders/rd/j5mq0pcd6c3b6ld8pnmj2xnw0000gn/T/ipykernel_1228/1255889465.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final['sentiment'] = all

In [31]:
final.to_csv("newfinal.csv")

In [32]:
final.groupby("id").mean()

,Unnamed: 0,latitude,longitude,beds,amenities,minimum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,sentiment
id,,,,,,,,,,,,,,,
44077,121.990741,53.29178,-6.25792,2.0,113.0,3.0,258.0,4.78,4.83,4.74,4.93,4.93,4.66,4.82,0.898396
85156,358.502890,53.29209,-6.25624,1.0,72.0,3.0,210.0,4.79,4.86,4.74,4.90,4.88,4.64,4.78,0.904346
159889,644.116719,53.39027,-6.23547,1.0,56.0,2.0,355.0,4.74,4.77,4.71,4.86,4.90,4.63,4.74,0.818367
162809,986.088235,53.28326,-6.19188,4.0,102.0,1.0,326.0,4.84,4.88,4.85,4.95,4.97,4.77,4.85,0.867712
165828,1177.562500,53.33744,-6.32363,3.0,53.0,3.0,64.0,4.63,4.89,4.69,4.81,4.75,4.34,4.55,0.795085
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54350199,234878.500000,53.37064,-6.50634,1.0,88.0,1.0,2.0,5.00,5.00,5.00,5.00,5.00,5.00,5.00,0.858250
54372393,234884.000000,53.34721,-6.26080,2.0,39.0,3.0,9.0,3.67,3.67,4.33,3.44,3.78,4.67,3.67,0.328700
54394467,234899.555556,53.36703,-6.21673,1.0,51.0,3.0,21.0,4.86,4.90,5.00,4.76,4.90,4.81,4.67,0.903206
54394539,234915.666667,53.36869,-6.21496,1.0,37.0,3.0,13.0,4.77,5.00,5.00,4.92,4.85,4.62,4.62,0.865592
54394546,234931.000000,53.36665,-6.21493,2.0,37.0,3.0,19.0,4.89,4.89,4.95,5.00,4.89,4.79,4.74,0.862493

In [35]:
final.drop(labels="Unnamed: 0",axis=1)

,id,host_is_superhost,latitude,longitude,property_type,room_type,bathrooms_text,beds,amenities,price,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,comments,detect,sentiment
0,44077,t,53.29178,-6.25792,Private room in bungalow,Private room,1.5 shared baths,2.0,113,$70.00,...,4.78,4.83,4.74,4.93,4.93,4.66,4.82,we enjoyed our stay very much the room was co...,en,0.9513
1,44077,t,53.29178,-6.25792,Private room in bungalow,Private room,1.5 shared baths,2.0,113,$70.00,...,4.78,4.83,4.74,4.93,4.93,4.66,4.82,we have been here nights stay in a home is ...,en,0.9804
2,44077,t,53.29178,-6.25792,Private room in bungalow,Private room,1.5 shared baths,2.0,113,$70.00,...,4.78,4.83,4.74,4.93,4.93,4.66,4.82,teresa and hughie were great hosts they were ...,en,0.9836
3,44077,t,53.29178,-6.25792,Private room in bungalow,Private room,1.5 shared baths,2.0,113,$70.00,...,4.78,4.83,4.74,4.93,4.93,4.66,4.82,no surprises was as described very gracious...,en,0.9447
4,44077,t,53.29178,-6.25792,Private room in bungalow,Private room,1.5 shared baths,2.0,113,$70.00,...,4.78,4.83,4.74,4.93,4.93,4.66,4.82,teresa was a lovely hostess and we had a deli...,en,0.9821
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234934,54394546,t,53.36665,-6.21493,Private room in home,Private room,1 private bath,2.0,37,$150.00,...,4.89,4.89,4.95,5.00,4.89,4.79,4.74,margaret and her husband are very kind they h...,en,0.9355
234936,54394546,t,53.36665,-6.21493,Private room in home,Private room,1 private bath,2.0,37,$150.00,...,4.89,4.89,4.95,5.00,4.89,4.79,4.74,beautyful house everything is verry clean und...,en,0.6997
234937,54394546,t,53.36665,-6.21493,Private room in home,Private room,1 private bath,2.0,37,$150.00,...,4.89,4.89,4.95,5.00,4.89,4.79,4.74,this is a really lovely place to stay easily ...,en,0.9678
234938,54394546,t,53.36665,-6.21493,Private room in home,Private room,1 private bath,2.0,37,$150.00,...,4.89,4.89,4.95,5.00,4.89,4.79,4.74,we were made to feel extremely welcome by our ...,en,0.9673
234940,54394546,t,53.36665,-6.21493,Private room in home,Private room,1 private bath,2.0,37,$150.00,...,4.89,4.89,4.95,5.00,4.89,4.79,4.74,we warmly recommend everyone to stay at this b...,en,0.9720

In [36]:
final.drop(labels='detect',axis=1)

,Unnamed: 0,id,host_is_superhost,latitude,longitude,property_type,room_type,bathrooms_text,beds,amenities,...,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,comments,sentiment
0,0,44077,t,53.29178,-6.25792,Private room in bungalow,Private room,1.5 shared baths,2.0,113,...,258,4.78,4.83,4.74,4.93,4.93,4.66,4.82,we enjoyed our stay very much the room was co...,0.9513
1,1,44077,t,53.29178,-6.25792,Private room in bungalow,Private room,1.5 shared baths,2.0,113,...,258,4.78,4.83,4.74,4.93,4.93,4.66,4.82,we have been here nights stay in a home is ...,0.9804
2,2,44077,t,53.29178,-6.25792,Private room in bungalow,Private room,1.5 shared baths,2.0,113,...,258,4.78,4.83,4.74,4.93,4.93,4.66,4.82,teresa and hughie were great hosts they were ...,0.9836
3,3,44077,t,53.29178,-6.25792,Private room in bungalow,Private room,1.5 shared baths,2.0,113,...,258,4.78,4.83,4.74,4.93,4.93,4.66,4.82,no surprises was as described very gracious...,0.9447
4,4,44077,t,53.29178,-6.25792,Private room in bungalow,Private room,1.5 shared baths,2.0,113,...,258,4.78,4.83,4.74,4.93,4.93,4.66,4.82,teresa was a lovely hostess and we had a deli...,0.9821
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234934,234934,54394546,t,53.36665,-6.21493,Private room in home,Private room,1 private bath,2.0,37,...,19,4.89,4.89,4.95,5.00,4.89,4.79,4.74,margaret and her husband are very kind they h...,0.9355
234936,234936,54394546,t,53.36665,-6.21493,Private room in home,Private room,1 private bath,2.0,37,...,19,4.89,4.89,4.95,5.00,4.89,4.79,4.74,beautyful house everything is verry clean und...,0.6997
234937,234937,54394546,t,53.36665,-6.21493,Private room in home,Private room,1 private bath,2.0,37,...,19,4.89,4.89,4.95,5.00,4.89,4.79,4.74,this is a really lovely place to stay easily ...,0.9678
234938,234938,54394546,t,53.36665,-6.21493,Private room in home,Private room,1 private bath,2.0,37,...,19,4.89,4.89,4.95,5.00,4.89,4.79,4.74,we were made to feel extremely welcome by our ...,0.9673
234940,234940,54394546,t,53.36665,-6.21493,Private room in home,Private room,1 private bath,2.0,37,...,19,4.89,4.89,4.95,5.00,4.89,4.79,4.74,we warmly recommend everyone to stay at this b...,0.9720

In [37]:
final.drop(labels='Unnamed: 0',axis=1)

,id,host_is_superhost,latitude,longitude,property_type,room_type,bathrooms_text,beds,amenities,price,...,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,comments,detect,sentiment
0,44077,t,53.29178,-6.25792,Private room in bungalow,Private room,1.5 shared baths,2.0,113,$70.00,...,4.78,4.83,4.74,4.93,4.93,4.66,4.82,we enjoyed our stay very much the room was co...,en,0.9513
1,44077,t,53.29178,-6.25792,Private room in bungalow,Private room,1.5 shared baths,2.0,113,$70.00,...,4.78,4.83,4.74,4.93,4.93,4.66,4.82,we have been here nights stay in a home is ...,en,0.9804
2,44077,t,53.29178,-6.25792,Private room in bungalow,Private room,1.5 shared baths,2.0,113,$70.00,...,4.78,4.83,4.74,4.93,4.93,4.66,4.82,teresa and hughie were great hosts they were ...,en,0.9836
3,44077,t,53.29178,-6.25792,Private room in bungalow,Private room,1.5 shared baths,2.0,113,$70.00,...,4.78,4.83,4.74,4.93,4.93,4.66,4.82,no surprises was as described very gracious...,en,0.9447
4,44077,t,53.29178,-6.25792,Private room in bungalow,Private room,1.5 shared baths,2.0,113,$70.00,...,4.78,4.83,4.74,4.93,4.93,4.66,4.82,teresa was a lovely hostess and we had a deli...,en,0.9821
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234934,54394546,t,53.36665,-6.21493,Private room in home,Private room,1 private bath,2.0,37,$150.00,...,4.89,4.89,4.95,5.00,4.89,4.79,4.74,margaret and her husband are very kind they h...,en,0.9355
234936,54394546,t,53.36665,-6.21493,Private room in home,Private room,1 private bath,2.0,37,$150.00,...,4.89,4.89,4.95,5.00,4.89,4.79,4.74,beautyful house everything is verry clean und...,en,0.6997
234937,54394546,t,53.36665,-6.21493,Private room in home,Private room,1 private bath,2.0,37,$150.00,...,4.89,4.89,4.95,5.00,4.89,4.79,4.74,this is a really lovely place to stay easily ...,en,0.9678
234938,54394546,t,53.36665,-6.21493,Private room in home,Private room,1 private bath,2.0,37,$150.00,...,4.89,4.89,4.95,5.00,4.89,4.79,4.74,we were made to feel extremely welcome by our ...,en,0.9673
234940,54394546,t,53.36665,-6.21493,Private room in home,Private room,1 private bath,2.0,37,$150.00,...,4.89,4.89,4.95,5.00,4.89,4.79,4.74,we warmly recommend everyone to stay at this b...,en,0.9720

In [41]:
final = final.drop(labels='comments',axis=1)

In [42]:
final = final.drop(labels='detect',axis=1)
final = final.drop(labels='Unnamed: 0',axis=1)

In [50]:
final.head()

,latitude,longitude,beds,amenities,minimum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,sentiment
id,,,,,,,,,,,,,,
44077,53.29178,-6.25792,2.0,113.0,3.0,258.0,4.78,4.83,4.74,4.93,4.93,4.66,4.82,0.898396
85156,53.29209,-6.25624,1.0,72.0,3.0,210.0,4.79,4.86,4.74,4.90,4.88,4.64,4.78,0.904346
159889,53.39027,-6.23547,1.0,56.0,2.0,355.0,4.74,4.77,4.71,4.86,4.90,4.63,4.74,0.818367
162809,53.28326,-6.19188,4.0,102.0,1.0,326.0,4.84,4.88,4.85,4.95,4.97,4.77,4.85,0.867712
165828,53.33744,-6.32363,3.0,53.0,3.0,64.0,4.63,4.89,4.69,4.81,4.75,4.34,4.55,0.795085
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54350199,53.37064,-6.50634,1.0,88.0,1.0,2.0,5.00,5.00,5.00,5.00,5.00,5.00,5.00,0.858250
54372393,53.34721,-6.26080,2.0,39.0,3.0,9.0,3.67,3.67,4.33,3.44,3.78,4.67,3.67,0.328700
54394467,53.36703,-6.21673,1.0,51.0,3.0,21.0,4.86,4.90,5.00,4.76,4.90,4.81,4.67,0.903206
54394539,53.36869,-6.21496,1.0,37.0,3.0,13.0,4.77,5.00,5.00,4.92,4.85,4.62,4.62,0.865592
54394546,53.36665,-6.21493,2.0,37.0,3.0,19.0,4.89,4.89,4.95,5.00,4.89,4.79,4.74,0.862493

In [44]:
final.to_csv("newfile.csv")

In [48]:
final = final.groupby("id")

In [49]:
final.head()

,latitude,longitude,beds,amenities,minimum_nights,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,sentiment
id,,,,,,,,,,,,,,
44077,53.29178,-6.25792,2.0,113.0,3.0,258.0,4.78,4.83,4.74,4.93,4.93,4.66,4.82,0.898396
85156,53.29209,-6.25624,1.0,72.0,3.0,210.0,4.79,4.86,4.74,4.90,4.88,4.64,4.78,0.904346
159889,53.39027,-6.23547,1.0,56.0,2.0,355.0,4.74,4.77,4.71,4.86,4.90,4.63,4.74,0.818367
162809,53.28326,-6.19188,4.0,102.0,1.0,326.0,4.84,4.88,4.85,4.95,4.97,4.77,4.85,0.867712
165828,53.33744,-6.32363,3.0,53.0,3.0,64.0,4.63,4.89,4.69,4.81,4.75,4.34,4.55,0.795085
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54350199,53.37064,-6.50634,1.0,88.0,1.0,2.0,5.00,5.00,5.00,5.00,5.00,5.00,5.00,0.858250
54372393,53.34721,-6.26080,2.0,39.0,3.0,9.0,3.67,3.67,4.33,3.44,3.78,4.67,3.67,0.328700
54394467,53.36703,-6.21673,1.0,51.0,3.0,21.0,4.86,4.90,5.00,4.76,4.90,4.81,4.67,0.903206
54394539,53.36869,-6.21496,1.0,37.0,3.0,13.0,4.77,5.00,5.00,4.92,4.85,4.62,4.62,0.865592
54394546,53.36665,-6.21493,2.0,37.0,3.0,19.0,4.89,4.89,4.95,5.00,4.89,4.79,4.74,0.862493